<main>
    <div class="bannerImg">
        <img class="udla" src="assets/images/udla.jpg" alt="">
    </div>

    <section class="contenedor-campos">

        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/AlanPacheco.jpeg" alt="">
                </div>

                <input mat-raised-button color="primary" type="submit" class="btn1" value="Alan Pacheco">

            </div>
        </div>

        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/ChristianNarvaez.jpeg" alt="">
                </div>
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Christian Narváez">
            </div>
        </div>

        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/FernandoLopez.jpeg" alt="">
                </div>
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Fernando López">

            </div>
        </div>

        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/OdalisseArguello.jpeg" alt="">
                </div>
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Odalisse Arguello">
            </div>
        </div>

    </section> 

</main>